<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOWD Stats - Where we prove Sean isn't better than us.</title>
    <link rel="shortcut icon" href="~/favicon.ico?v=2" />
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/AppScripts/app.js"></script>
    <script src="~/Scripts/AppScripts/controllers.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>   
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body ng-app="lowdApp">
    <div class="navbar navbar-inverse">
        <div class="container-fluid nav-container">
            <div class="navbar-collapse collapse">
                <a href="/Lowd" class="navbar-brand"><h1>Waterdeep</h1></a>
                <ul class="nav navbar-nav">
                    <li><a href="#/Stats">Stats</a></li>
                    <li><a href="#/LordStats">Lord Stats</a></li>
                    <li><a href="#/New">Enter Scores</a></li>
                    <li><a href="#/Games">Past Games</a></li>
                    <li><a href="#/Tournaments">Tournaments</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="body-content" ng-view>
        @RenderBody()
    </div>
    <div class="container">
    <footer>
        <p>&copy; @DateTime.Now.Year - LOWD Stats - Where we prove Sean isn't better than us.</p>
        <a href="/">Back</a>
    </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
